
<!-- <h1>{{title}}</h1>

<label>Edad Uno:</label>
<input type="text" [(ngModel)]="edadUno" placeholder="Ingrese un número"/>
<br>
<label>Edad Dos:</label>
<input type="text" [(ngModel)]="edadDos" placeholder="Ingrese un número"/>
<br>
<input type="button" style="margin: 5px" [value]="btnSuma" (click)="calcularSumaEdadesYPromedio($event)"/>

<input type="button" style="margin: 5px"[value]="btnLimpiar" (click)="limpiar($event)"/>
<br>
<label>Suma:</label>
<input type="text" [(ngModel)]="suma"/>
<br>
<label>Promedio:</label>
<input type="text" [(ngModel)]="promedio"/> -->

<!-- <app-bienvenido *ngIf="suma === 0"></app-bienvenido> -->

<!-- <app-login></app-login> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet />
